<h1>Dashboards</h1>

<p>
  <% if @dashboards.present? %>
    <table class="table">
      <thead>
        <tr>
          <th>Dashboard</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for dashboard in @dashboards %>
          <tr>
            <td> <%= link_to dashboard.title, dashboard_path(dashboard) %> </td>
            <td> 
              <%= link_to 'Edit', edit_dashboard_path(dashboard), class: 'btn btn-primary' %>
              <%= link_to 'Delete', dashboard_path(dashboard), method: 'delete', class: 'btn btn-danger' %>
            </td>
          </tr>  
        <% end %>
      </body>
    </table>
  <% else %>
    You currently don't have any dashboard. Click the button bellow to create your first!
  <% end %>
</p>

<a href="<%= new_dashboard_path %>" class="btn btn-primary">New Dashboard</a>
