<div class="form-group">
  <%= label_tag :start_time %>
  <%= date_field_tag :start_time, start_time.to_date %>
</div>

<div class="form-group">
  <%= label_tag :end_time %>
  <%= date_field_tag :end_time, end_time.try(:to_date) %>
</div>
