<!DOCTYPE html>
<html>
<head>
  <title>Prosperity</title>
  <%= stylesheet_link_tag    "prosperity/application", media: "all" %>
  <%= javascript_include_tag "prosperity/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
