%h1= @metric.title

- url = url_for(params)
.metric{data: {url: url}}

%h3 Options

%ul
  - @metric.options.each do |name, opt|
    %li= link_to name, url_for(params.merge(option: name))

%h3 Period

%ul
  - Prosperity::Periods::ALL.each do |key, period|
    %li= link_to key, url_for(params.merge(period: key))

%a= link_to 'export', export_metric_url(params)