%h1= @metric.title

- data = data_for_metric(@metric).to_json
.metric{id: "my_metric", width:"800", height:"400", data: {points: data, title: @metric.title}}

%h3 Options

%ul
  - @metric.options.each do |name, opt|
    %li= link_to name, url_for(params.merge(option: name))
