%h1= @metric.title

- #data = data_for_metric(@metric).to_json
.metric{data: {url: metric_path(@metric.id)}}

%h3 Options

%ul
  - @metric.options.each do |name, opt|
    %li= link_to name, url_for(params.merge(option: name))
