%h1= @metric.title

- url = url_for(params.merge(option: option))
.metric{data: {url: url}}

%h3 Options

%ul
  - @metric.options.each do |name, opt|
    %li= link_to name, url_for(params.merge(option: name))
